:root{
    --bg-btn:linear-gradient(to right, black, red);
    --primary-color: red;
    --black: black;
    --white: white;
    --bg-color: #f5f5f5;
    --text1-color: #6b6969;
    --textcolor: #333;
}   

.btn {
    /* display: inline-block;
    background: var(--bg-btn);
    color: var(--white);
    padding: 10px 20px;
    border: .2rem solid var(--black);
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px; */
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    background: var(--bg-btn);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background: var(--primary-color);
    border: 2px solid var(--black);
    opacity: 0.8;
    color: black;
}

/* .header__distance {
    margin-top: 150px;
} */

.breadcrumb {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #cecece;
    margin-bottom: 20px;
    margin-top: 180px;
}

.breadcrumb a {
    color: var(--text1-color);
    
}.breadcrumb a:first-child {
    margin-left: 5%;
}

.breadcrumb a:hover {
    color: var(--primary-color);
}

/* ANIMATION */
@keyframes fadeIn {
    from   {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

