


.user_container {
    background-color: var(--white);
    padding: 20px;
    border-radius: .125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
}

.user_title {
    border-bottom: 1px solid #d6d3d3;
    padding: 1.125rem 0;
}

.user_title h6 {
    margin-bottom: 10px;
    font-size: 28px;
}

.user_main-container {
    display: flex;
    /* justify-content: space-around; */
    margin-left: 5%;
}

.user_main-info {
    margin-top: 40px;
}

.user_group {
    display: flex;
    align-items: center;
}

.user_group span {
    width: 120px;
    margin-right: 20px;
    color: var(--text1-color);
}

.user_group .user_input {
    width: 400px;
    border: 1px solid #d6d6d6;
    padding: 13px 12px;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    margin-bottom: 12px;
    outline: 0;
}

.save_user-btn {
    padding: 12px 40px;
    margin-top: 40px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary-color);
}

.save_user-btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    border: 1px solid #837f7f;
}

.user_main-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

#choose_image-btn {
   padding: 12px;
   margin-top: 40px;
}

/* quyet */
.user_group {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; /* Khoảng cách dưới giữa các nhóm */
}

.user_group span {
    margin-bottom: 5px; /* Khoảng cách dưới cho nhãn */
}

.user_input, 
#province-select, 
#district-select, 
#ward-select {
    width: 100%; /* Đảm bảo tất cả các trường nhập liệu và combobox chiếm toàn bộ chiều rộng */
    margin-bottom: 10px; /* Khoảng cách dưới giữa các trường */
    padding: 8px; /* Khoảng cách bên trong */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng của phần tử */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 4px; /* Bo tròn góc */
}

#province-select, 
#district-select, 
#ward-select {
    -webkit-appearance: none; /* Ẩn mũi tên mặc định trên iOS */
    -moz-appearance: none; /* Ẩn mũi tên mặc định trên Firefox */
    appearance: none; /* Ẩn mũi tên mặc định */
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNHB4IiBoZWlnaHQ9IjIycHgiIHZpZXdCb3g9IjAgMCA0IDIyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yIDE4TDAgMTZMMiAxMkgwIDhMMCA1TDQgMTJMMyAyMEwyIDIwTDIgMjBaIiBmaWxsPSIjQkJCOEI4Ii8+PC9zdmc+') no-repeat right 10px center;
    padding-right: 30px; /* Tạo khoảng trống cho mũi tên */
}
