body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.container input, .container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form img {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    margin: 20px 0;
}

textarea {
    height: 200px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}