body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    padding: 0 20px;
    margin-top: 20px;
}

.container h1 {
    color: red;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid red;
    margin-top: 80px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    background-color: white;
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
th {
    background-color: #4b4949;
    color: white;
    text-align: center;
}
.filter-container {
    margin-top: 20px;
}
.filter-container input, .filter-container select {
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filter-container input:hover, 
.filter-container select:hover {
    border-color: red;
}

.button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;

}
.button:hover {
    color: red;
    border: 1px solid red;
    background-color: white;
}

.edit-button {
    margin-bottom: 10px;
}

#filter_btn {
    margin-left: 40px;
    width: 100px;
    height: 38px;
    font-size: 16px;
    font-weight: 600;
}
