body {
    margin: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #5e5b5b;
    color: white;
    font-size: 18px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form input, form textarea {
    width: calc(100% - 22px);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form textarea {
    height: 100px;
    margin-bottom: 30px;
  }

  
  .edit-form {
    display: none;
  }